.formGroup {
    width: 800px;
    border: 2px gray inset;
    border-radius: 20px;
    margin-left: 25%;
    margin-top: 10%;
    padding: 15px;
}

.btn-secondary {
    margin-left: 10px;
}

.btn_autorization {
    margin-top: 10px;
}